In [1]:
import pandas as pd

In [2]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
'age': [42, 52, 36, 24, 73],
'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [15]:
# 데이터 URL을 변수 data_url에 넣기
data_url = 'https://archive.ics.uci.edu/ml/machine-learningdatabases/housing/housing.data'
# csv 데이터 로드
df_data = pd.read_csv(data_url, sep='\s+', header=None)
df = pd.DataFrame(df_data)
df

HTTPError: HTTP Error 404: Not Found

In [13]:
pd_l = [1, 2, 3, 4, 5]
pd_data1 = pd.DataFrame(pd_l)
pd_data1

   0
0  1
1  2
2  3
3  4
4  5

In [14]:
type(pd_data1)

pandas.core.frame.DataFrame

In [16]:
pd_data1['1열']=pd_l
pd_data1

   0  1열
0  1   1
1  2   2
2  3   3
3  4   4
4  5   5

In [17]:
pd_name = ['a', 'b', 'c', 'd', 'e']
pd_data1['이름']=pd_name
pd_data1

   0  1열 이름
0  1   1  a
1  2   2  b
2  3   3  c
3  4   4  d
4  5   5  e

In [18]:
pd_data1.columns

Index([0, '1열', '이름'], dtype='object')

In [22]:
pd_data2 = pd_data1.rename(columns={0:'0열'})
pd_data2

   0열  1열 이름
0   1   1  a
1   2   2  b
2   3   3  c
3   4   4  d
4   5   5  e

In [23]:
score = [['정약용', 70, 80, 100],
        ['이순신', 100, 80, 70],
        ['이율곡', 90, 95, 90]]
score

[['정약용', 70, 80, 100], ['이순신', 100, 80, 70], ['이율곡', 90, 95, 90]]

In [24]:
type(score)

list

In [27]:
score_df = pd.DataFrame(score)
score_df

     0    1   2    3
0  정약용   70  80  100
1  이순신  100  80   70
2  이율곡   90  95   90

In [28]:
score_df.columns = ['성명', '국어', '영어', '수학']
score_df

    성명   국어  영어   수학
0  정약용   70  80  100
1  이순신  100  80   70
2  이율곡   90  95   90

In [30]:
score_df_temp = score_df.rename(columns={'국어' : 'Korean', '영어' : ' english'})
score_df_temp

    성명  Korean   english   수학
0  정약용      70        80  100
1  이순신     100        80   70
2  이율곡      90        95   90

### 딕셔너리를 DataFrame으로 만들기

In [32]:
score_dic = {'성명': ['정약용', '이순신', '이율곡'],
             '국어': [70, 80, 100],
             '영어' : [100, 80, 70],
             '수학' : [90, 95, 90]}
score_dic

{'성명': ['정약용', '이순신', '이율곡'],
 '국어': [70, 80, 100],
 '영어': [100, 80, 70],
 '수학': [90, 95, 90]}

In [33]:
type(score_dic)

dict

In [35]:
score_df_dic = pd.DataFrame(score_dic)
score_df_dic

    성명   국어   영어  수학
0  정약용   70  100  90
1  이순신   80   80  95
2  이율곡  100   70  90

In [36]:
score_df_dic.shape

(3, 4)

In [37]:
df.shape

(5, 4)

In [38]:
score_df_dic.index

RangeIndex(start=0, stop=3, step=1)

In [39]:
score_df_dic.columns

Index(['성명', '국어', '영어', '수학'], dtype='object')

In [40]:
score_df_dic.values

array([['정약용', 70, 100, 90],
       ['이순신', 80, 80, 95],
       ['이율곡', 100, 70, 90]], dtype=object)

In [41]:
score_df_dic

    성명   국어   영어  수학
0  정약용   70  100  90
1  이순신   80   80  95
2  이율곡  100   70  90

In [43]:
score_df_dic.index = score_df_dic['성명']
score_df_dic

      성명   국어   영어  수학
성명
정약용  정약용   70  100  90
이순신  이순신   80   80  95
이율곡  이율곡  100   70  90

In [45]:
score_df_dic.drop(['성명'], axis=1)

      국어   영어  수학
성명
정약용   70  100  90
이순신   80   80  95
이율곡  100   70  90

In [46]:
score_df_dic.drop(['이순신'], axis=0)

      성명   국어   영어  수학
성명
정약용  정약용   70  100  90
이율곡  이율곡  100   70  90

In [47]:
score_df_dic

      성명   국어   영어  수학
성명
정약용  정약용   70  100  90
이순신  이순신   80   80  95
이율곡  이율곡  100   70  90

In [48]:
score_df_dic.drop(['성명'], axis=1, inplace=True)

In [49]:
score_df_dic

      국어   영어  수학
성명
정약용   70  100  90
이순신   80   80  95
이율곡  100   70  90