## 판다스를 시작해 봅시다

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\user\.conda\envs\tensorflowpy310\lib\site-packages)

### Pandas import 하기

In [10]:
# pandas import
import pandas as pd

## 1. 시리즈를 다루어 봅시다.

In [13]:
srdata = pd.Series([1, 2, 3, 4, 5])
srdata

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
list_data = [1, 2, 3, 4, 5]
list_name = ["a", "b", "c", "d", "e"]
srdata2 = pd.Series(data = list_data, index = list_name)
srdata2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
srdata2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
srdata2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [18]:
srdata2.dtype

dtype('int64')

In [19]:
type(srdata2)

pandas.core.series.Series

In [20]:
srdata2.name = "value"
srdata2.index.name = "id"
srdata2

id
a    1
b    2
c    3
d    4
e    5
Name: value, dtype: int64

In [24]:
from pandas import Series
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
sr_dd = Series(dict_data, dtype = float, name = "dictData")
sr_dd

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: dictData, dtype: float64

In [26]:
indexes = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
srobj = Series(dict_data, index = indexes)
srobj

A   NaN
B   NaN
C   NaN
D   NaN
E   NaN
F   NaN
G   NaN
H   NaN
dtype: float64

In [27]:
tup_data = ('영인', '2010-05-01', '여', True)
srdata = Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
srdata

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [28]:
srdata[0]

'영인'

In [29]:
srdata['이름']

'영인'

In [33]:
print(srdata[[1, 2]], '\n')
print(srdata[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

In [37]:
print(srdata[1 : 4], '\n')
print(srdata['생년월일' : '학생여부'])

생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

생년월일    2010-05-01
성별               여
학생여부          True
dtype: object